[submodule "recomp-net"]
	path = lib/recomp-net
	url = https://github.com/RetroPortingToolKit/recomp-net.git
[submodule "lib/retcomm-rbengine"]
	path = lib/retcomm-rbengine
	url = https://github.com/RetroPortingToolKit/rbengine.git
